rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /surgeries/{surgeryId} {
      allow read: if true;
      allow write: if surgeryId == request.auth.uid;
    }

    match /surgeries-private/{surgeryId} {
      allow read: if surgeryId == request.auth.uid;
      allow write: if surgeryId == request.auth.uid;
    }

    match /{document=**} {
      allow read: if false;
      allow write: if false;
    }
  }
}
